<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsr.hotel.mapper.CommentMapper">

    <resultMap type="com.hsr.hotel.entity.Comment" id="CommentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="typeId" column="type_id" jdbcType="INTEGER"/>
        <result property="approve" column="approve" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap type="com.hsr.hotel.entity.Comment" id="UserCommentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="typeId" column="type_id" jdbcType="INTEGER"/>
        <result property="approve" column="approve" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <association property="user" javaType="com.hsr.hotel.entity.User">
            <id column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
        </association>

        <association property="room" javaType="com.hsr.hotel.entity.RoomType">
            <id column="type_id" jdbcType="INTEGER" property="typeId"/>
            <result column="room_type" jdbcType="VARCHAR" property="roomType"/>
        </association>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CommentMap">
        select
          id, user_id, content, room_id, approve, create_time
        from comment
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="CommentMap">
        select
        id, user_id, content, room_id, approve, create_time
        from comment
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="roomId != null">
                and room_id = #{roomId}
            </if>
            <if test="approve != null">
                and approve = #{approve}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from comment
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="roomId != null">
                and room_id = #{roomId}
            </if>
            <if test="approve != null">
                and approve = #{approve}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <!--查询全部-->
    <select id="queryAll" resultMap="UserCommentMap" parameterType="integer">

        SELECT c.*,u.`name`,rt.room_type
        from `comment` c
        INNER JOIN user_info u on c.user_id=u.user_id
        INNER JOIN room_type rt on c.type_id=rt.type_id
        where
        2>1
        <if test="roomType!=null and roomType!=''">
            and rt.room_type=#{roomType}
        </if>

    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into comment(user_id, content, type_id, approve, create_time)
        values (#{userId}, #{content}, #{typeId}, #{approve}, now())
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into comment(user_id, content, room_id, approve, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.content}, #{entity.roomId}, #{entity.approve}, #{entity.createTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into comment(user_id, content, room_id, approve, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.content}, #{entity.roomId}, #{entity.approve}, #{entity.createTime})
        </foreach>
        on duplicate key update
        user_id = values(user_id),
        content = values(content),
        room_id = values(room_id),
        approve = values(approve),
        create_time = values(create_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update comment
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="roomId != null">
                room_id = #{roomId},
            </if>
            <if test="approve != null">
                approve = #{approve},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from comment where id = #{id}
    </delete>

</mapper>

